.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-bottom: 60px; /* Hauteur du footer + espace supplémentaire */
}
